/*COLORES*/
$primary-background: #C5AC00;

$secondary-background:#1D333F;

$hover-color: white;

$text-color: white;

/*FUENTES*/
$fuente-nav: "Oswald", "sans-serif"; 

$fuente-secundaria:"Libre Caslon Text", "serif";


/*ESPACIADOS*/
$xsmall: 1rem;
$small: 2rem;
$medium: 3rem;
$large: 6rem;

/*TAMAÑO FUENTE*/

$chica: 20px;
$mediana: 40px;
$grande: 60px;
