header{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    .logo {padding: $xsmall;
    }
        .logo__nav{border-radius: 80%;
            height: 180px;
        width: 180px; }


.navbar {display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-link{
    color: $secondary-background;
}
    .navbar{
    background-color:transparent!important ;
    }


.nav-item{
    background: transparent;
    font-family: $fuente-nav;
    padding: $xsmall;
    font-size: 30px;
    font-weight: bold;
    border-radius: 50px; 

    .nav-link:hover {background-color: $hover-color;
    }
}