*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.reserva__letra {font-size: 30px;}
#fecha { font-size: 20px;}
#comensales{font-size: 20px;}
#tel { font-size: 20px;}
