.eventos__fotos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: $small;
}


.card-title{
    font-family: $fuente-nav;
}
.card-text{
    font-family: $fuente-secundaria;
}