.card{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: $small;
    
    
}
.card-img-top{
    height: 350px;
}

.card-title{
    font-family: $fuente-nav;
}
.card-text{
    font-family: $fuente-secundaria;
}