.evento-card{
    display: flex;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    margin: $small;
    padding: $small;
    
}
.card{
    background-color: $secondary-background;
    
}
.card-title{
    font-family: $fuente-nav;
    color: $hover-color
}
.card-text{
    font-family: $fuente-secundaria;
    color: $hover-color
}