body{

.hora__index { color:$text-color;
    font-family:$fuente-secundaria;
    font-weight: 700;

    animation: backInLeft;
    animation-duration: 2s;
    animation-delay: 1s;
}

.imagen__portada{
    padding: $medium;
    align-items: center;
    border-radius: 70px;
    @include sizes (100%, auto);
}

.direccion__index {margin-top: $xsmall;
    font-family: $fuente-secundaria ;
    font-weight: 700;
    font-size: 20px;
    
    @media screen and (max-width: 600px){
    font-size: 10px;
    }
}
}